h1{
    text-align: center;
    font-size: 30px;
}

body{
    font-size: 16px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.number_twoo {
    font-size: 16px;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    width: 450px;
}

.number_oneo {
    width: 1250px;
}

.number_oneo td{
    width: 450px;
    text-align: center;

}
