body{
    background-color: rgb(52, 216, 200);
}
h1{font-size: 60px;
}
img{
    height: 400px;
    width: 1000px;
}
h1{
    font-family: Impact,'Arial Narrow Bold', ;
}
h2{font-family: Impact, 'Arial Narrow Bold', ;
}
